<% layout('../base.ejs') -%>

<div class="card">
    <div class="row">
        <form action="/register" class="col s12" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="userName" id="userName" class="validate">
                    <label for="userName">User Name</label>
                </div>
                <div class="input-field col s6">
                    <input type="password" name="password" id="password" class="validate">
                    <label for='password'>password</label>
                </div>
                <div>
                    <button type="submit">submit</button>
                    <button type="reset">reset</button>
                </div>
            </div>
        </form>
    </div>
</div>